@mixin img-ratio($w, $h) {
	div.img-ratio-#{$w}-#{$h} {
		&:after {
			padding-top: ($h/$w)*100%;
		}
	}
	@if $w != $h {
		div.img-ratio-#{$h}-#{$w} {
			&:after {
				padding-top: ($w/$h)*100%;
			}
		}
	}
}

div[class^="img-ratio"] {
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;
	&:after {
		display: block;
		content: '';
	}
	img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		margin: auto;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}
	> a {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

/* Included ratios */

@include img-ratio(1, 1);
@include img-ratio(3, 2);
@include img-ratio(4, 3);
@include img-ratio(16, 9);
